# Reviews

In [2]:
import json
import os

import numpy as np
import pandas as pd
from tqdm import tqdm

In [35]:
data = {'review_id': [], "user_id": [], "business_id": [],'stars': [], 'date': [], 'text': []}

with open(r'C:\Users\bmmur\OneDrive\Desktop\Yelp_Data\yelp_academic_dataset_review.json',encoding='utf8') as f:
    for line in tqdm(f):
        review = json.loads(line)
        data['review_id'].append(review['review_id'])
        data['user_id'].append(review['user_id'])
        data['business_id'].append(review['business_id'])
        data['stars'].append(review['stars'])
        data['date'].append(review['date'])
        data['text'].append(review['text'])

6990280it [03:00, 38775.08it/s]

In [36]:
df = pd.DataFrame(data)

print(df.shape)
df.head()

(6990280, 6)

,review_id,user_id,business_id,stars,date,text
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,2018-07-07 22:09:11,"If you decide to eat here, just be aware it is..."
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,2012-01-03 15:28:18,I've taken a lot of spin classes over the year...
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,2014-02-05 20:30:30,Family diner. Had the buffet. Eclectic assortm...
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,2015-01-04 00:01:03,"Wow! Yummy, different, delicious. Our favo..."
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,2017-01-14 20:54:15,Cute interior and owner (?) gave us tour of up...

In [37]:
df['review_id'] = df['review_id'].astype('category')
df['user_id'] = df['user_id'].astype('category')
df['business_id'] = df['business_id'].astype('category')
df['stars'] = df['stars'].astype('category')
df['date'] = df['date'].astype('category')
df['text'] = df['text'].astype(str)

In [38]:
df.to_csv('yelp_reviews.csv', index=False)

# Businesses

In [6]:
bus_data= {'business_id': [], "name": [], 'city': [], 'state': [], 'latitude': [],'longitude': [], 'stars': [], 'review_count': [], 'is_open': [], 'categories': []}

with open(r'C:\Users\bmmur\OneDrive\Desktop\Yelp_Data\yelp_academic_dataset_business.json',encoding='utf8') as f:
    for line in tqdm(f):
        review = json.loads(line)
        bus_data['business_id'].append(review['business_id'])
        bus_data['name'].append(review['name'])
        bus_data['city'].append(review['city'])
        bus_data['state'].append(review['state'])
        bus_data['latitude'].append(review['latitude'])
        bus_data['longitude'].append(review['longitude'])
        bus_data['stars'].append(review['stars'])
        bus_data['review_count'].append(review['review_count'])
        bus_data['is_open'].append(review['is_open'])
        bus_data['categories'].append(review['categories'])

150346it [00:05, 29075.12it/s]

In [7]:
df_bus = pd.DataFrame(bus_data)

print(df_bus.shape)
df_bus.head()

(150346, 10)

,business_id,name,city,state,latitude,longitude,stars,review_count,is_open,categories
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ",Santa Barbara,CA,34.426679,-119.711197,5.0,7,0,"Doctors, Traditional Chinese Medicine, Naturop..."
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,Affton,MO,38.551126,-90.335695,3.0,15,1,"Shipping Centers, Local Services, Notaries, Ma..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,Tucson,AZ,32.223236,-110.880452,3.5,22,0,"Department Stores, Shopping, Fashion, Home & G..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,39.955505,-75.155564,4.0,80,1,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,PA,40.338183,-75.471659,4.5,13,1,"Brewpubs, Breweries, Food"

In [8]:
df_bus['business_id'] = df_bus['business_id'].astype(str)
df_bus['name'] = df_bus['name'].astype(str)
df_bus['city'] = df_bus['city'].astype(str)
df_bus['state'] = df_bus['state'].astype(str)
df_bus['latitude'] = df_bus['latitude'].astype(float)
df_bus['longitude'] = df_bus['longitude'].astype(float)
df_bus['stars'] = df_bus['stars'].astype(float)
df_bus['review_count'] = df_bus['review_count'].astype(int)
df_bus['is_open'] = df_bus['is_open'].astype(int)
df_bus['categories'] = df_bus['categories'].astype(str)

In [10]:
df_bus.to_csv('updated_yelp_business.csv', index=False)

# Reviewers (People's Info)

In [45]:
user_data= {'user_id': [], "review_count": [], 'yelping_since': [], 'average_stars': [], 'name': []}

with open(r"C:\Users\bmmur\OneDrive\Desktop\Yelp_Data\yelp_academic_dataset_user.json",encoding='utf8') as f:
    for line in tqdm(f):
        review = json.loads(line)
        user_data['user_id'].append(review['user_id'])
        user_data['review_count'].append(review['review_count'])
        user_data['yelping_since'].append(review['yelping_since'])
        user_data['average_stars'].append(review['average_stars'])
        user_data['name'].append(review['name'])

1987897it [01:18, 25189.59it/s]

In [46]:
df_user = pd.DataFrame(user_data)

print(df_user.shape)
df_user.head()

(1987897, 5)

,user_id,review_count,yelping_since,average_stars,name
0,qVc8ODYU5SZjKXVBgXdI7w,585,2007-01-25 16:47:26,3.91,Walker
1,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,3.74,Daniel
2,2WnXYQFK0hXEoTxPtV2zvg,665,2008-07-25 10:41:00,3.32,Steph
3,SZDeASXq7o05mMNLshsdIA,224,2005-11-29 04:38:33,4.27,Gwen
4,hA5lMy-EnncsH4JoR-hFGQ,79,2007-01-05 19:40:59,3.54,Karen

In [47]:
df_user['user_id'] = df_user['user_id'].astype(str)
df_user['review_count'] = df_user['review_count'].astype(str)
df_user['yelping_since'] = df_user['yelping_since'].astype(str)
df_user['average_stars'] = df_user['average_stars'].astype(str)
df_user['name'] = df_user['name'].astype(str)

In [48]:
df_user.to_csv('yelp_user.csv', index=False)